/* Styles for easy theming */

#container {
	font-family: Sans-serif, Arial;
	width: 400px;
}

#container button {
    background-color: #53a7ea;
    color: #ffffff;
    font-size: 16px;
}

#container button.warn {
    background-color: #7a2e2a;
    color: #ffffff;
}

#container h1 {
	font-size: 22px;
}

#container p {
	font-size: 16px;
}

#container .passwordGallery > div > img:hover {
	border-bottom-color: #53a7ea;
}

#container .passwordGallery > div > img {
	border-bottom-width: 5px;	
}

/* Other styles */
#container {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

#container h1 {
	text-align: center;
}

#container p {
	user-select: none;
	text-align: justify;
}

#container button {
	cursor: pointer;
    border: none;
    padding: 4% 8%;
    text-align: center;
    text-decoration: none;
    display: block;
	width: 100%;
	margin: 1% 0;
	opacity: 0.8;
}

#container button:hover {
	opacity: 1.0;
}

#container .view {
	display: none;
}

#container .view.active {
	display: block;
}

#container .passwordGallery > div > img {
	width: 21%;
	margin: 1% 2%;
	padding: 1% 0;
	opacity: 0.7;
	border-color: transparent;
	border-bottom-style: solid;	
}

#container .passwordDisplay > div > img {
	width: 100%;
}

#container  .passwordGallery > div > img:hover {
	cursor: pointer;
	opacity: 1.0;
}